{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}
        {% block header %} {{ include('default/navbar.html.twig') }}{% endblock %}
{% block body %}
    <div align="center">
    <h1>Tasks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Priority</th>
                <th>Progress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.progress }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('task_delete', { 'id': task.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}">Create a new task</a>
        </li>
    </ul>
    </div>
{% endblock %}
